<section id="nav">
    <nav>
        <div class="logo_box">
        <a class="logo_link" href="#"><img src="https://i.postimg.cc/B6xLt4KG/1f3f4ce973d946578567f190e2773709-1.png" alt="logo" class="logo"></a>
        <a class="brand" href="/">TO DO</a>
        </div>
        <i class="fa-solid fa-bars toggle" style="color: #511f29;" aria-expanded="false"></i>
        <div class="menu_box">
              <a href="/today" id="today-nav">Today's Task</a>
              <a href="/month" id="price">Monthly List</a>
        </div>
      </nav>

</main>
<script src="styles/index.js"></script> 
</section>