<%- include('partials/header.ejs') %>


<%- include('partials/nav.ejs') %>


<!-- hero -->

<section id="hero">
    <div class="hero_box">
        <div class="hero_1">
            <h1>Let's Get Things Done with a Smile</h1>
            <p>Your Daily Source of Motivation and Productivity Tips to Brighten Your Tasks!</p>
            <div class="route-btn">
            <a class="btn btn-primary today-btn" href="/today" role="button">Today's Task</a> 
            <a class="btn btn-outline-primary monthly-btn" href="/month" role="button">Monthly List</a>
        </div>
        </div>
        <div class="hero_2">
            <img src="https://i.ibb.co/CP41zDH/2207-copy.png" alt="">
        </div>
    </div>
    
</section>

</div>


<%- include('partials/footer.ejs') %>